.elementor-929 .elementor-element.elementor-element-yj8dq0l>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-929 .elementor-element.elementor-element-yj8dq0l:not(.elementor-motion-effects-element-type-background),
.elementor-929 .elementor-element.elementor-element-yj8dq0l>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #999D7A;
	background-image: url("../../2025/05/pexels-minan1398-1353938-scaled.webp");
	background-position: 8px -8px;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-929 .elementor-element.elementor-element-yj8dq0l>.elementor-background-overlay {
	background-color: #363635DE;
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-929 .elementor-element.elementor-element-yj8dq0l>.elementor-container {
	min-height: 404px;
}

.elementor-929 .elementor-element.elementor-element-yj8dq0l {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-929 .elementor-element.elementor-element-yj8dq0l>.elementor-shape-bottom svg {
	width: calc(100% + 1.3px);
	height: 18px;
}

.elementor-929 .elementor-element.elementor-element-7a8c603:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-929 .elementor-element.elementor-element-7a8c603>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #E4E1DBA1;
}

.elementor-929 .elementor-element.elementor-element-7a8c603>.elementor-element-populated,
.elementor-929 .elementor-element.elementor-element-7a8c603>.elementor-element-populated>.elementor-background-overlay,
.elementor-929 .elementor-element.elementor-element-7a8c603>.elementor-background-slideshow {
	border-radius: 10px 10px 10px 10px;
}

.elementor-929 .elementor-element.elementor-element-7a8c603>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 250px 0px 250px;
	--e-column-margin-right: 250px;
	--e-column-margin-left: 250px;
}

.elementor-929 .elementor-element.elementor-element-7a8c603>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-929 .elementor-element.elementor-element-522ad82 {
	--display: flex;
	--margin-top: -0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
}

.elementor-929 .elementor-element.elementor-element-522ad82.e-con {
	--align-self: flex-start;
}

.elementor-929 .elementor-element.elementor-element-24df5fe {
	--display: flex;
	border-style: solid;
	--border-style: solid;
	border-width: 0px 1px 0px 1px;
	--border-top-width: 0px;
	--border-right-width: 1px;
	--border-bottom-width: 0px;
	--border-left-width: 1px;
	border-color: #FFFFFF;
	--border-color: #FFFFFF;
	--border-radius: 20px 20px 20px 20px;
}

.elementor-929 .elementor-element.elementor-element-ea38982>.elementor-widget-container {
	padding: 20px 20px 20px 20px;
}

.elementor-929 .elementor-element.elementor-element-ea38982 {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-ea38982 .elementor-heading-title {
	font-size: 33px;
	text-transform: uppercase;
	letter-spacing: 3.8px;
	color: #FFFFFF;
}

.elementor-929 .elementor-element.elementor-element-69be0e8 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--gap: 0px 50px;
	--row-gap: 0px;
	--column-gap: 50px;
	--margin-top: -50px;
	--margin-bottom: 80px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 30px;
	--padding-right: 30px;
}

.elementor-929 .elementor-element.elementor-element-27ee34c {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--border-radius: 20px 20px 20px 20px;
	--padding-top: 20px;
	--padding-bottom: 20px;
	--padding-left: 20px;
	--padding-right: 20px;
}

.elementor-929 .elementor-element.elementor-element-27ee34c:not(.elementor-motion-effects-element-type-background),
.elementor-929 .elementor-element.elementor-element-27ee34c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-929 .elementor-element.elementor-element-27ee34c:hover {
	background-color: #EDEEEA;
	--overlay-opacity: 0.5;
}

.elementor-929 .elementor-element.elementor-element-27ee34c:hover::before,
.elementor-929 .elementor-element.elementor-element-27ee34c:hover>.elementor-background-video-container::before,
.elementor-929 .elementor-element.elementor-element-27ee34c:hover>.e-con-inner>.elementor-background-video-container::before,
.elementor-929 .elementor-element.elementor-element-27ee34c>.elementor-background-slideshow:hover::before,
.elementor-929 .elementor-element.elementor-element-27ee34c>.e-con-inner>.elementor-background-slideshow:hover::before {
	background-color: #ECECEC;
	--background-overlay: '';
}

.elementor-929 .elementor-element.elementor-element-83e65b9 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-83e65b9.elementor-view-stacked .elementor-icon {
	background-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-83e65b9.elementor-view-framed .elementor-icon,
.elementor-929 .elementor-element.elementor-element-83e65b9.elementor-view-default .elementor-icon {
	color: #575A3F;
	border-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-83e65b9.elementor-view-framed .elementor-icon,
.elementor-929 .elementor-element.elementor-element-83e65b9.elementor-view-default .elementor-icon svg {
	fill: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-3007bf2 {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-3007bf2 .elementor-heading-title {
	color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-3eca3d1 {
	text-align: center;
	font-size: 12px;
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-3eca3d1 p {
	margin-bottom: 0px;
}

.elementor-929 .elementor-element.elementor-element-492c1ce {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--border-radius: 20px 20px 20px 20px;
	--padding-top: 20px;
	--padding-bottom: 20px;
	--padding-left: 20px;
	--padding-right: 20px;
}

.elementor-929 .elementor-element.elementor-element-492c1ce:not(.elementor-motion-effects-element-type-background),
.elementor-929 .elementor-element.elementor-element-492c1ce>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-929 .elementor-element.elementor-element-492c1ce:hover {
	background-color: #EDEEEA;
	--overlay-opacity: 0.5;
}

.elementor-929 .elementor-element.elementor-element-492c1ce:hover::before,
.elementor-929 .elementor-element.elementor-element-492c1ce:hover>.elementor-background-video-container::before,
.elementor-929 .elementor-element.elementor-element-492c1ce:hover>.e-con-inner>.elementor-background-video-container::before,
.elementor-929 .elementor-element.elementor-element-492c1ce>.elementor-background-slideshow:hover::before,
.elementor-929 .elementor-element.elementor-element-492c1ce>.e-con-inner>.elementor-background-slideshow:hover::before {
	background-color: #ECECEC;
	--background-overlay: '';
}

.elementor-929 .elementor-element.elementor-element-33bbde3 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-33bbde3.elementor-view-stacked .elementor-icon {
	background-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-33bbde3.elementor-view-framed .elementor-icon,
.elementor-929 .elementor-element.elementor-element-33bbde3.elementor-view-default .elementor-icon {
	color: #575A3F;
	border-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-33bbde3.elementor-view-framed .elementor-icon,
.elementor-929 .elementor-element.elementor-element-33bbde3.elementor-view-default .elementor-icon svg {
	fill: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-d71fc75 {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-d71fc75 .elementor-heading-title {
	color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-5dac920 {
	text-align: center;
	font-size: 12px;
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-5dac920 p {
	margin-bottom: 0px;
}

.elementor-929 .elementor-element.elementor-element-58023a4 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--border-radius: 20px 20px 20px 20px;
	--padding-top: 20px;
	--padding-bottom: 20px;
	--padding-left: 20px;
	--padding-right: 20px;
}

.elementor-929 .elementor-element.elementor-element-58023a4:not(.elementor-motion-effects-element-type-background),
.elementor-929 .elementor-element.elementor-element-58023a4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-929 .elementor-element.elementor-element-58023a4:hover {
	background-color: #EDEEEA;
	--overlay-opacity: 0.5;
}

.elementor-929 .elementor-element.elementor-element-58023a4:hover::before,
.elementor-929 .elementor-element.elementor-element-58023a4:hover>.elementor-background-video-container::before,
.elementor-929 .elementor-element.elementor-element-58023a4:hover>.e-con-inner>.elementor-background-video-container::before,
.elementor-929 .elementor-element.elementor-element-58023a4>.elementor-background-slideshow:hover::before,
.elementor-929 .elementor-element.elementor-element-58023a4>.e-con-inner>.elementor-background-slideshow:hover::before {
	background-color: #ECECEC;
	--background-overlay: '';
}

.elementor-929 .elementor-element.elementor-element-54b8b54 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-54b8b54.elementor-view-stacked .elementor-icon {
	background-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-54b8b54.elementor-view-framed .elementor-icon,
.elementor-929 .elementor-element.elementor-element-54b8b54.elementor-view-default .elementor-icon {
	color: #575A3F;
	border-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-54b8b54.elementor-view-framed .elementor-icon,
.elementor-929 .elementor-element.elementor-element-54b8b54.elementor-view-default .elementor-icon svg {
	fill: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-3b5b6e6 {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-3b5b6e6 .elementor-heading-title {
	color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-5287d17 {
	text-align: center;
	font-size: 12px;
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-5287d17 p {
	margin-bottom: 0px;
}

.elementor-929 .elementor-element.elementor-element-7988011 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--border-radius: 20px 20px 20px 20px;
	--padding-top: 20px;
	--padding-bottom: 20px;
	--padding-left: 20px;
	--padding-right: 20px;
}

.elementor-929 .elementor-element.elementor-element-7988011:not(.elementor-motion-effects-element-type-background),
.elementor-929 .elementor-element.elementor-element-7988011>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-929 .elementor-element.elementor-element-7988011:hover {
	background-color: #EDEEEA;
	--overlay-opacity: 0.5;
}

.elementor-929 .elementor-element.elementor-element-7988011:hover::before,
.elementor-929 .elementor-element.elementor-element-7988011:hover>.elementor-background-video-container::before,
.elementor-929 .elementor-element.elementor-element-7988011:hover>.e-con-inner>.elementor-background-video-container::before,
.elementor-929 .elementor-element.elementor-element-7988011>.elementor-background-slideshow:hover::before,
.elementor-929 .elementor-element.elementor-element-7988011>.e-con-inner>.elementor-background-slideshow:hover::before {
	background-color: #ECECEC;
	--background-overlay: '';
}

.elementor-929 .elementor-element.elementor-element-6285082 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-6285082.elementor-view-stacked .elementor-icon {
	background-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-6285082.elementor-view-framed .elementor-icon,
.elementor-929 .elementor-element.elementor-element-6285082.elementor-view-default .elementor-icon {
	color: #575A3F;
	border-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-6285082.elementor-view-framed .elementor-icon,
.elementor-929 .elementor-element.elementor-element-6285082.elementor-view-default .elementor-icon svg {
	fill: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-cce24da {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-cce24da .elementor-heading-title {
	color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-f34209c {
	text-align: center;
	font-size: 12px;
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-f34209c p {
	margin-bottom: 0px;
}

.elementor-929 .elementor-element.elementor-element-5be07c4 {
	--display: flex;
}

.elementor-929 .elementor-element.elementor-element-8ae92d4>.elementor-widget-container {
	margin: 0px 0px 50px 0px;
}

.elementor-929 .elementor-element.elementor-element-8ae92d4 {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-8ae92d4 .elementor-heading-title {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	word-spacing: 3px;
	color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-6e00512 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--gap: 20px 20px;
	--row-gap: 20px;
	--column-gap: 20px;
	--margin-top: 0px;
	--margin-bottom: 80px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-929 .elementor-element.elementor-element-879500c {
	--display: flex;
	--min-height: 500px;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--border-radius: 20px 20px 20px 20px;
	--padding-top: 25px;
	--padding-bottom: 20px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-929 .elementor-element.elementor-element-879500c:hover {
	background-color: #EDEEEA;
}

.elementor-929 .elementor-element.elementor-element-e84cd2d>.elementor-widget-container {
	margin: 0px 0px -10px 0px;
}

.elementor-929 .elementor-element.elementor-element-e84cd2d {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #999D7A;
}

.elementor-929 .elementor-element.elementor-element-28643b2>.elementor-widget-container {
	margin: 5px 0px 30px 0px;
}

.elementor-929 .elementor-element.elementor-element-28643b2 {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-28643b2 .elementor-heading-title {
	font-size: 35px;
}

.elementor-929 .elementor-element.elementor-element-a8a62a5>.elementor-widget-container {
	margin: 0px 0px -10px 0px;
	padding: 0px 15px 0px 15px;
}

.elementor-929 .elementor-element.elementor-element-a8a62a5 {
	text-align: justify;
	font-size: 11px;
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-3bcdb47>.elementor-widget-container {
	padding: 0px 15px 0px 15px;
}

.elementor-929 .elementor-element.elementor-element-3bcdb47 p {
	margin-bottom: 15px;
}

.elementor-929 .elementor-element.elementor-element-3bcdb47 {
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-d358152 {
	--display: flex;
	--min-height: 620px;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--border-radius: 20px 20px 20px 20px;
	--padding-top: 25px;
	--padding-bottom: 20px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-929 .elementor-element.elementor-element-d358152:hover {
	background-color: #EDEEEA;
}

.elementor-929 .elementor-element.elementor-element-2fc4072>.elementor-widget-container {
	margin: 0px 0px -10px 0px;
}

.elementor-929 .elementor-element.elementor-element-2fc4072 {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #999D7A;
}

.elementor-929 .elementor-element.elementor-element-3663639>.elementor-widget-container {
	margin: 5px 0px 30px 0px;
}

.elementor-929 .elementor-element.elementor-element-3663639 {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-3663639 .elementor-heading-title {
	font-size: 35px;
}

.elementor-929 .elementor-element.elementor-element-f03c47d>.elementor-widget-container {
	margin: 0px 0px -10px 0px;
	padding: 0px 15px 0px 15px;
}

.elementor-929 .elementor-element.elementor-element-f03c47d {
	text-align: justify;
	font-size: 11px;
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-8f8cba9>.elementor-widget-container {
	padding: 0px 15px 0px 15px;
}

.elementor-929 .elementor-element.elementor-element-8f8cba9 p {
	margin-bottom: 15px;
}

.elementor-929 .elementor-element.elementor-element-8f8cba9 {
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-14caa09 {
	--display: flex;
	--min-height: 355px;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--border-radius: 20px 20px 20px 20px;
	--padding-top: 25px;
	--padding-bottom: 20px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-929 .elementor-element.elementor-element-14caa09:hover {
	background-color: #EDEEEA;
}

.elementor-929 .elementor-element.elementor-element-b22ad2e>.elementor-widget-container {
	margin: 0px 0px -10px 0px;
}

.elementor-929 .elementor-element.elementor-element-b22ad2e {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #999D7A;
}

.elementor-929 .elementor-element.elementor-element-10a6576>.elementor-widget-container {
	margin: 5px 0px 30px 0px;
}

.elementor-929 .elementor-element.elementor-element-10a6576 {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-10a6576 .elementor-heading-title {
	font-size: 35px;
}

.elementor-929 .elementor-element.elementor-element-53b621e>.elementor-widget-container {
	margin: 0px 0px -10px 0px;
	padding: 0px 15px 0px 15px;
}

.elementor-929 .elementor-element.elementor-element-53b621e {
	text-align: justify;
	font-size: 11px;
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-215bd4c>.elementor-widget-container {
	padding: 0px 15px 0px 15px;
}

.elementor-929 .elementor-element.elementor-element-215bd4c p {
	margin-bottom: 15px;
}

.elementor-929 .elementor-element.elementor-element-215bd4c {
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-db93a25>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-929 .elementor-element.elementor-element-db93a25:not(.elementor-motion-effects-element-type-background),
.elementor-929 .elementor-element.elementor-element-db93a25>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2025/05/pexels-life-of-pix-7974-scaled.webp");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-929 .elementor-element.elementor-element-db93a25>.elementor-background-overlay {
	background-color: #8A8980;
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-929 .elementor-element.elementor-element-db93a25>.elementor-container {
	min-height: 700px;
}

.elementor-929 .elementor-element.elementor-element-db93a25 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-929 .elementor-element.elementor-element-db93a25>.elementor-shape-top svg {
	width: calc(100% + 1.3px);
	height: 49px;
	transform: translateX(-50%) rotateY(180deg);
}

.elementor-929 .elementor-element.elementor-element-db93a25>.elementor-shape-bottom svg {
	width: calc(100% + 1.3px);
	height: 85px;
}

.elementor-929 .elementor-element.elementor-element-8331c8b:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-929 .elementor-element.elementor-element-8331c8b>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FDFDFDC7;
}

.elementor-929 .elementor-element.elementor-element-8331c8b>.elementor-element-populated,
.elementor-929 .elementor-element.elementor-element-8331c8b>.elementor-element-populated>.elementor-background-overlay,
.elementor-929 .elementor-element.elementor-element-8331c8b>.elementor-background-slideshow {
	border-radius: 40px 40px 40px 40px;
}

.elementor-929 .elementor-element.elementor-element-8331c8b>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 120px 50px 120px 50px;
	--e-column-margin-right: 50px;
	--e-column-margin-left: 50px;
	padding: 80px 80px 80px 80px;
}

.elementor-929 .elementor-element.elementor-element-8331c8b>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-929 .elementor-element.elementor-element-1f98d88>.elementor-widget-container {
	margin: 0px 0px 50px 0px;
}

.elementor-929 .elementor-element.elementor-element-1f98d88 {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-1f98d88 .elementor-heading-title {
	font-family: "BIZ UDMincho", Sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	word-spacing: 3px;
	color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-913cb5f>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-929 .elementor-element.elementor-element-913cb5f {
	--icon-box-icon-margin: 21px;
}

.elementor-929 .elementor-element.elementor-element-913cb5f.elementor-view-stacked .elementor-icon {
	background-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-913cb5f.elementor-view-framed .elementor-icon,
.elementor-929 .elementor-element.elementor-element-913cb5f.elementor-view-default .elementor-icon {
	fill: #575A3F;
	color: #575A3F;
	border-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-913cb5f.elementor-view-stacked:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-913cb5f.elementor-view-stacked:has(:focus) .elementor-icon {
	background-color: #999D7A;
}

.elementor-929 .elementor-element.elementor-element-913cb5f.elementor-view-framed:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-913cb5f.elementor-view-default:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-913cb5f.elementor-view-framed:has(:focus) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-913cb5f.elementor-view-default:has(:focus) .elementor-icon {
	fill: #999D7A;
	color: #999D7A;
	border-color: #999D7A;
}

.elementor-929 .elementor-element.elementor-element-913cb5f .elementor-icon {
	font-size: 26px;
}

.elementor-929 .elementor-element.elementor-element-913cb5f .elementor-icon-box-title,
.elementor-929 .elementor-element.elementor-element-913cb5f .elementor-icon-box-title a {
	line-height: 1px;
}

.elementor-929 .elementor-element.elementor-element-913cb5f .elementor-icon-box-title {
	color: #020101;
}

.elementor-929 .elementor-element.elementor-element-913cb5f .elementor-icon-box-description {
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-51d3d95>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-929 .elementor-element.elementor-element-51d3d95 {
	--icon-box-icon-margin: 21px;
}

.elementor-929 .elementor-element.elementor-element-51d3d95.elementor-view-stacked .elementor-icon {
	background-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-51d3d95.elementor-view-framed .elementor-icon,
.elementor-929 .elementor-element.elementor-element-51d3d95.elementor-view-default .elementor-icon {
	fill: #575A3F;
	color: #575A3F;
	border-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-51d3d95.elementor-view-stacked:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-51d3d95.elementor-view-stacked:has(:focus) .elementor-icon {
	background-color: #999D7A;
}

.elementor-929 .elementor-element.elementor-element-51d3d95.elementor-view-framed:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-51d3d95.elementor-view-default:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-51d3d95.elementor-view-framed:has(:focus) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-51d3d95.elementor-view-default:has(:focus) .elementor-icon {
	fill: #999D7A;
	color: #999D7A;
	border-color: #999D7A;
}

.elementor-929 .elementor-element.elementor-element-51d3d95 .elementor-icon {
	font-size: 26px;
}

.elementor-929 .elementor-element.elementor-element-51d3d95 .elementor-icon-box-title,
.elementor-929 .elementor-element.elementor-element-51d3d95 .elementor-icon-box-title a {
	line-height: 1px;
}

.elementor-929 .elementor-element.elementor-element-51d3d95 .elementor-icon-box-description {
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-8ed181a>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-929 .elementor-element.elementor-element-8ed181a {
	--icon-box-icon-margin: 21px;
}

.elementor-929 .elementor-element.elementor-element-8ed181a.elementor-view-stacked .elementor-icon {
	background-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-8ed181a.elementor-view-framed .elementor-icon,
.elementor-929 .elementor-element.elementor-element-8ed181a.elementor-view-default .elementor-icon {
	fill: #575A3F;
	color: #575A3F;
	border-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-8ed181a.elementor-view-stacked:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-8ed181a.elementor-view-stacked:has(:focus) .elementor-icon {
	background-color: #999D7A;
}

.elementor-929 .elementor-element.elementor-element-8ed181a.elementor-view-framed:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-8ed181a.elementor-view-default:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-8ed181a.elementor-view-framed:has(:focus) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-8ed181a.elementor-view-default:has(:focus) .elementor-icon {
	fill: #999D7A;
	color: #999D7A;
	border-color: #999D7A;
}

.elementor-929 .elementor-element.elementor-element-8ed181a .elementor-icon {
	font-size: 26px;
}

.elementor-929 .elementor-element.elementor-element-8ed181a .elementor-icon-box-title,
.elementor-929 .elementor-element.elementor-element-8ed181a .elementor-icon-box-title a {
	line-height: 1px;
}

.elementor-929 .elementor-element.elementor-element-8ed181a .elementor-icon-box-title {
	-webkit-text-stroke-color: #000;
	stroke: #000;
}

.elementor-929 .elementor-element.elementor-element-8ed181a .elementor-icon-box-description {
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-606a188>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-929 .elementor-element.elementor-element-606a188 {
	--icon-box-icon-margin: 21px;
}

.elementor-929 .elementor-element.elementor-element-606a188.elementor-view-stacked .elementor-icon {
	background-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-606a188.elementor-view-framed .elementor-icon,
.elementor-929 .elementor-element.elementor-element-606a188.elementor-view-default .elementor-icon {
	fill: #575A3F;
	color: #575A3F;
	border-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-606a188.elementor-view-stacked:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-606a188.elementor-view-stacked:has(:focus) .elementor-icon {
	background-color: #999D7A;
}

.elementor-929 .elementor-element.elementor-element-606a188.elementor-view-framed:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-606a188.elementor-view-default:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-606a188.elementor-view-framed:has(:focus) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-606a188.elementor-view-default:has(:focus) .elementor-icon {
	fill: #999D7A;
	color: #999D7A;
	border-color: #999D7A;
}

.elementor-929 .elementor-element.elementor-element-606a188 .elementor-icon {
	font-size: 26px;
}

.elementor-929 .elementor-element.elementor-element-606a188 .elementor-icon-box-title,
.elementor-929 .elementor-element.elementor-element-606a188 .elementor-icon-box-title a {
	line-height: 1px;
}

.elementor-929 .elementor-element.elementor-element-d941bb4 {
	width: var(--container-widget-width, 99.883%);
	max-width: 99.883%;
	--container-widget-width: 99.883%;
	--container-widget-flex-grow: 0;
	--icon-box-icon-margin: 21px;
}

.elementor-929 .elementor-element.elementor-element-d941bb4>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-929 .elementor-element.elementor-element-d941bb4.elementor-element {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-929 .elementor-element.elementor-element-d941bb4.elementor-view-stacked .elementor-icon {
	background-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-d941bb4.elementor-view-framed .elementor-icon,
.elementor-929 .elementor-element.elementor-element-d941bb4.elementor-view-default .elementor-icon {
	fill: #575A3F;
	color: #575A3F;
	border-color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-d941bb4.elementor-view-stacked:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-d941bb4.elementor-view-stacked:has(:focus) .elementor-icon {
	background-color: #999D7A;
}

.elementor-929 .elementor-element.elementor-element-d941bb4.elementor-view-framed:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-d941bb4.elementor-view-default:has(:hover) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-d941bb4.elementor-view-framed:has(:focus) .elementor-icon,
.elementor-929 .elementor-element.elementor-element-d941bb4.elementor-view-default:has(:focus) .elementor-icon {
	fill: #999D7A;
	color: #999D7A;
	border-color: #999D7A;
}

.elementor-929 .elementor-element.elementor-element-d941bb4 .elementor-icon {
	font-size: 26px;
}

.elementor-929 .elementor-element.elementor-element-d941bb4 .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-929 .elementor-element.elementor-element-d941bb4 .elementor-icon-box-title,
.elementor-929 .elementor-element.elementor-element-d941bb4 .elementor-icon-box-title a {
	line-height: 1px;
}

.elementor-929 .elementor-element.elementor-element-d941bb4 .elementor-icon-box-description {
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-cc2d45a>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-929 .elementor-element.elementor-element-cc2d45a>.elementor-background-overlay {
	background-color: #8A898000;
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-929 .elementor-element.elementor-element-cc2d45a>.elementor-container {
	min-height: 700px;
}

.elementor-929 .elementor-element.elementor-element-cc2d45a {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 50px;
	margin-bottom: 0px;
}

.elementor-929 .elementor-element.elementor-element-cc2d45a>.elementor-shape-bottom svg {
	width: calc(100% + 1.3px);
	height: 85px;
}

.elementor-929 .elementor-element.elementor-element-f60bcbd>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-929 .elementor-element.elementor-element-5b24bec>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-929 .elementor-element.elementor-element-5b24bec {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-5b24bec .elementor-heading-title {
	font-family: "BIZ UDMincho", Sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	word-spacing: 3px;
	color: #575A3F;
}

.elementor-929 .elementor-element.elementor-element-d48ab4e {
	text-align: center;
	font-size: 14px;
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-d9d50ce {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 50px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-929 .elementor-element.elementor-element-d9d50ce:not(.elementor-motion-effects-element-type-background),
.elementor-929 .elementor-element.elementor-element-d9d50ce>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #CCC9BD;
}

.elementor-929 .elementor-element.elementor-element-96fb35d>.elementor-widget-container {
	margin: 50px 0px 0px 0px;
}

.elementor-929 .elementor-element.elementor-element-96fb35d {
	text-align: center;
}

.elementor-929 .elementor-element.elementor-element-96fb35d .elementor-heading-title {
	font-family: "Open Sans", Sans-serif;
	font-size: 16px;
	letter-spacing: 1.2px;
	-webkit-text-stroke-color: #000;
	stroke: #000;
	color: #5C5D5B;
}

.elementor-929 .elementor-element.elementor-element-eea13a6 .elementor-button {
	background-color: #999D7A;
	border-radius: 20px 20px 20px 20px;
	padding: 20px 45px 20px 45px;
}

.elementor-929 .elementor-element.elementor-element-eea13a6 .elementor-button:hover,
.elementor-929 .elementor-element.elementor-element-eea13a6 .elementor-button:focus {
	background-color: #575A3F;
}

@media(max-width:1024px) {

	.elementor-929 .elementor-element.elementor-element-yj8dq0l:not(.elementor-motion-effects-element-type-background),
	.elementor-929 .elementor-element.elementor-element-yj8dq0l>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: 0px 0px;
	}

	.elementor-929 .elementor-element.elementor-element-yj8dq0l {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-bc-flex-widget .elementor-929 .elementor-element.elementor-element-7a8c603.elementor-column .elementor-widget-wrap {
		align-items: center;
	}

	.elementor-929 .elementor-element.elementor-element-7a8c603.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}

	.elementor-929 .elementor-element.elementor-element-7a8c603.elementor-column>.elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-929 .elementor-element.elementor-element-7a8c603>.elementor-element-populated {
		margin: 0px -110px 0px 110px;
		--e-column-margin-right: -110px;
		--e-column-margin-left: 110px;
	}

	.elementor-929 .elementor-element.elementor-element-522ad82 {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-929 .elementor-element.elementor-element-522ad82.e-con {
		--align-self: center;
	}

	.elementor-929 .elementor-element.elementor-element-69be0e8 {
		--gap: 30px 30px;
		--row-gap: 30px;
		--column-gap: 30px;
	}

	.elementor-929 .elementor-element.elementor-element-27ee34c {
		--min-height: 340px;
		--padding-top: 20px;
		--padding-bottom: 10px;
		--padding-left: 10px;
		--padding-right: 10px;
	}

	.elementor-929 .elementor-element.elementor-element-27ee34c.e-con {
		--align-self: center;
	}

	.elementor-929 .elementor-element.elementor-element-3007bf2 .elementor-heading-title {
		font-size: 16px;
	}

	.elementor-929 .elementor-element.elementor-element-492c1ce {
		--min-height: 340px;
		--padding-top: 20px;
		--padding-bottom: 10px;
		--padding-left: 10px;
		--padding-right: 10px;
	}

	.elementor-929 .elementor-element.elementor-element-492c1ce.e-con {
		--align-self: center;
	}

	.elementor-929 .elementor-element.elementor-element-d71fc75 .elementor-heading-title {
		font-size: 16px;
	}

	.elementor-929 .elementor-element.elementor-element-58023a4 {
		--min-height: 340px;
		--padding-top: 20px;
		--padding-bottom: 10px;
		--padding-left: 10px;
		--padding-right: 10px;
	}

	.elementor-929 .elementor-element.elementor-element-58023a4.e-con {
		--align-self: center;
	}

	.elementor-929 .elementor-element.elementor-element-3b5b6e6 .elementor-heading-title {
		font-size: 16px;
	}

	.elementor-929 .elementor-element.elementor-element-7988011 {
		--min-height: 340px;
		--padding-top: 20px;
		--padding-bottom: 10px;
		--padding-left: 10px;
		--padding-right: 10px;
	}

	.elementor-929 .elementor-element.elementor-element-7988011.e-con {
		--align-self: center;
	}

	.elementor-929 .elementor-element.elementor-element-8ae92d4 {
		text-align: center;
	}

	.elementor-929 .elementor-element.elementor-element-8ae92d4 .elementor-heading-title {
		font-size: 30px;
	}

	.elementor-929 .elementor-element.elementor-element-6e00512 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 20px;
		--padding-right: 20px;
	}

	.elementor-929 .elementor-element.elementor-element-879500c {
		--padding-top: 25px;
		--padding-bottom: 25px;
		--padding-left: 5px;
		--padding-right: 5px;
	}

	.elementor-929 .elementor-element.elementor-element-3bcdb47 {
		font-size: 14px;
	}

	.elementor-929 .elementor-element.elementor-element-d358152 {
		--padding-top: 25px;
		--padding-bottom: 25px;
		--padding-left: 5px;
		--padding-right: 5px;
	}

	.elementor-929 .elementor-element.elementor-element-8f8cba9 {
		font-size: 14px;
	}

	.elementor-929 .elementor-element.elementor-element-14caa09 {
		--padding-top: 25px;
		--padding-bottom: 25px;
		--padding-left: 5px;
		--padding-right: 5px;
	}

	.elementor-929 .elementor-element.elementor-element-215bd4c {
		font-size: 14px;
	}

	.elementor-929 .elementor-element.elementor-element-db93a25:not(.elementor-motion-effects-element-type-background),
	.elementor-929 .elementor-element.elementor-element-db93a25>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: 0px 0px;
	}

	.elementor-929 .elementor-element.elementor-element-8331c8b>.elementor-element-populated {
		margin: 120px 30px 120px 30px;
		--e-column-margin-right: 30px;
		--e-column-margin-left: 30px;
		padding: 50px 50px 50px 50px;
	}

	.elementor-929 .elementor-element.elementor-element-1f98d88 .elementor-heading-title {
		font-size: 30px;
	}

	.elementor-929 .elementor-element.elementor-element-913cb5f .elementor-icon-box-description {
		font-size: 13px;
	}

	.elementor-929 .elementor-element.elementor-element-51d3d95 .elementor-icon-box-description {
		font-size: 13px;
	}

	.elementor-929 .elementor-element.elementor-element-8ed181a .elementor-icon-box-description {
		font-size: 13px;
	}

	.elementor-929 .elementor-element.elementor-element-606a188 .elementor-icon-box-description {
		font-size: 13px;
	}

	.elementor-929 .elementor-element.elementor-element-d941bb4 .elementor-icon-box-description {
		font-size: 13px;
	}
}

@media(max-width:767px) {
	.elementor-929 .elementor-element.elementor-element-yj8dq0l>.elementor-container {
		max-width: 500px;
		min-height: 345px;
	}

	.elementor-929 .elementor-element.elementor-element-yj8dq0l:not(.elementor-motion-effects-element-type-background),
	.elementor-929 .elementor-element.elementor-element-yj8dq0l>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: center center;
	}

	.elementor-929 .elementor-element.elementor-element-yj8dq0l {
		padding: 20px 0px 20px 0px;
	}

	.elementor-bc-flex-widget .elementor-929 .elementor-element.elementor-element-7a8c603.elementor-column .elementor-widget-wrap {
		align-items: center;
	}

	.elementor-929 .elementor-element.elementor-element-7a8c603.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}

	.elementor-929 .elementor-element.elementor-element-7a8c603.elementor-column>.elementor-widget-wrap {
		justify-content: flex-start;
	}

	.elementor-929 .elementor-element.elementor-element-7a8c603>.elementor-element-populated {
		margin: 0px 20px 0px 20px;
		--e-column-margin-right: 20px;
		--e-column-margin-left: 20px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-929 .elementor-element.elementor-element-522ad82 {
		--content-width: 500px;
		--min-height: 0px;
		--flex-direction: column;
		--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
		--justify-content: center;
		--align-items: center;
	}

	.elementor-929 .elementor-element.elementor-element-24df5fe {
		--flex-direction: column;
		--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
		--justify-content: center;
		--align-items: center;
	}

	.elementor-929 .elementor-element.elementor-element-ea38982>.elementor-widget-container {
		padding: 50px 50px 50px 50px;
	}

	.elementor-929 .elementor-element.elementor-element-ea38982 .elementor-heading-title {
		font-size: 26px;
	}

	.elementor-929 .elementor-element.elementor-element-69be0e8 {
		--content-width: 500px;
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
		--gap: 20px 20px;
		--row-gap: 20px;
		--column-gap: 20px;
		--margin-top: 30px;
		--margin-bottom: 80px;
		--margin-left: 0px;
		--margin-right: 0px;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 40px;
		--padding-right: 40px;
	}

	.elementor-929 .elementor-element.elementor-element-27ee34c {
		--min-height: 0px;
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
		--padding-top: 10px;
		--padding-bottom: 10px;
		--padding-left: 10px;
		--padding-right: 10px;
	}

	.elementor-929 .elementor-element.elementor-element-83e65b9 .elementor-icon {
		font-size: 20px;
	}

	.elementor-929 .elementor-element.elementor-element-83e65b9 .elementor-icon svg {
		height: 20px;
	}

	.elementor-929 .elementor-element.elementor-element-3007bf2 .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-929 .elementor-element.elementor-element-3eca3d1 {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-492c1ce {
		--min-height: 0px;
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
		--padding-top: 10px;
		--padding-bottom: 10px;
		--padding-left: 10px;
		--padding-right: 10px;
	}

	.elementor-929 .elementor-element.elementor-element-33bbde3 .elementor-icon {
		font-size: 20px;
	}

	.elementor-929 .elementor-element.elementor-element-33bbde3 .elementor-icon svg {
		height: 20px;
	}

	.elementor-929 .elementor-element.elementor-element-d71fc75 .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-929 .elementor-element.elementor-element-5dac920 {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-58023a4 {
		--min-height: 0px;
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
		--padding-top: 10px;
		--padding-bottom: 10px;
		--padding-left: 10px;
		--padding-right: 10px;
	}

	.elementor-929 .elementor-element.elementor-element-54b8b54 .elementor-icon {
		font-size: 20px;
	}

	.elementor-929 .elementor-element.elementor-element-54b8b54 .elementor-icon svg {
		height: 20px;
	}

	.elementor-929 .elementor-element.elementor-element-3b5b6e6 .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-929 .elementor-element.elementor-element-5287d17 {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-7988011 {
		--min-height: 0px;
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
		--padding-top: 10px;
		--padding-bottom: 10px;
		--padding-left: 10px;
		--padding-right: 10px;
	}

	.elementor-929 .elementor-element.elementor-element-6285082 .elementor-icon {
		font-size: 20px;
	}

	.elementor-929 .elementor-element.elementor-element-6285082 .elementor-icon svg {
		height: 20px;
	}

	.elementor-929 .elementor-element.elementor-element-cce24da .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-929 .elementor-element.elementor-element-f34209c {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-8ae92d4>.elementor-widget-container {
		padding: 0px 20px 0px 20px;
	}

	.elementor-929 .elementor-element.elementor-element-8ae92d4 .elementor-heading-title {
		font-size: 28px;
	}

	.elementor-929 .elementor-element.elementor-element-6e00512 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 25px;
		--padding-right: 25px;
	}

	.elementor-929 .elementor-element.elementor-element-879500c {
		--min-height: 500px;
	}

	.elementor-929 .elementor-element.elementor-element-a8a62a5 {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-3bcdb47 {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-d358152 {
		--min-height: 510px;
	}

	.elementor-929 .elementor-element.elementor-element-f03c47d {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-8f8cba9 {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-14caa09 {
		--min-height: 605px;
	}

	.elementor-929 .elementor-element.elementor-element-53b621e {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-215bd4c {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-db93a25:not(.elementor-motion-effects-element-type-background),
	.elementor-929 .elementor-element.elementor-element-db93a25>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-image: url("../../2025/05/pexels-life-of-pix-7974-scaled.webp");
		background-position: center center;
	}

	.elementor-929 .elementor-element.elementor-element-db93a25>.elementor-shape-top svg {
		height: 35px;
	}

	.elementor-929 .elementor-element.elementor-element-db93a25>.elementor-shape-bottom svg {
		height: 35px;
	}

	.elementor-929 .elementor-element.elementor-element-db93a25 {
		padding: 0px 20px 0px 20px;
	}

	.elementor-929 .elementor-element.elementor-element-8331c8b>.elementor-element-populated {
		margin: 120px 0px 120px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 40px 20px 40px 20px;
	}

	.elementor-929 .elementor-element.elementor-element-1f98d88 .elementor-heading-title {
		font-size: 28px;
		letter-spacing: 0.6px;
	}

	.elementor-929 .elementor-element.elementor-element-913cb5f .elementor-icon-box-title,
	.elementor-929 .elementor-element.elementor-element-913cb5f .elementor-icon-box-title a {
		font-size: 18px;
		line-height: 1.3em;
	}

	.elementor-929 .elementor-element.elementor-element-913cb5f .elementor-icon-box-description {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-51d3d95 .elementor-icon-box-title,
	.elementor-929 .elementor-element.elementor-element-51d3d95 .elementor-icon-box-title a {
		font-size: 18px;
	}

	.elementor-929 .elementor-element.elementor-element-51d3d95 .elementor-icon-box-description {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-8ed181a .elementor-icon-box-title,
	.elementor-929 .elementor-element.elementor-element-8ed181a .elementor-icon-box-title a {
		font-size: 18px;
		line-height: 1.3em;
	}

	.elementor-929 .elementor-element.elementor-element-8ed181a .elementor-icon-box-description {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-606a188 .elementor-icon-box-title,
	.elementor-929 .elementor-element.elementor-element-606a188 .elementor-icon-box-title a {
		font-size: 18px;
	}

	.elementor-929 .elementor-element.elementor-element-606a188 .elementor-icon-box-description {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-d941bb4 .elementor-icon-box-title,
	.elementor-929 .elementor-element.elementor-element-d941bb4 .elementor-icon-box-title a {
		font-size: 18px;
	}

	.elementor-929 .elementor-element.elementor-element-d941bb4 .elementor-icon-box-description {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-cc2d45a {
		padding: 20px 0px 40px 0px;
	}

	.elementor-929 .elementor-element.elementor-element-5b24bec>.elementor-widget-container {
		padding: 0px 20px 0px 20px;
	}

	.elementor-929 .elementor-element.elementor-element-5b24bec .elementor-heading-title {
		font-size: 28px;
	}

	.elementor-929 .elementor-element.elementor-element-d48ab4e>.elementor-widget-container {
		padding: 0px 20px 0px 20px;
	}

	.elementor-929 .elementor-element.elementor-element-d48ab4e {
		font-size: 12px;
	}

	.elementor-929 .elementor-element.elementor-element-20a7851>.elementor-widget-container {
		padding: 0px 20px 0px 20px;
	}
}

@media(min-width:768px) {
	.elementor-929 .elementor-element.elementor-element-7a8c603 {
		width: 100%;
	}

	.elementor-929 .elementor-element.elementor-element-27ee34c {
		--width: 25%;
	}

	.elementor-929 .elementor-element.elementor-element-492c1ce {
		--width: 25%;
	}

	.elementor-929 .elementor-element.elementor-element-58023a4 {
		--width: 25%;
	}

	.elementor-929 .elementor-element.elementor-element-7988011 {
		--width: 25%;
	}

	.elementor-929 .elementor-element.elementor-element-879500c {
		--width: 30%;
	}

	.elementor-929 .elementor-element.elementor-element-d358152 {
		--width: 30%;
	}

	.elementor-929 .elementor-element.elementor-element-14caa09 {
		--width: 30%;
	}

	.elementor-929 .elementor-element.elementor-element-8331c8b {
		width: 100%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-929 .elementor-element.elementor-element-7a8c603 {
		width: 60%;
		margin-left: 5%;
	}
}

@media(min-width:1025px) {

	.elementor-929 .elementor-element.elementor-element-yj8dq0l:not(.elementor-motion-effects-element-type-background),
	.elementor-929 .elementor-element.elementor-element-yj8dq0l>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: fixed;
	}

	.elementor-929 .elementor-element.elementor-element-db93a25:not(.elementor-motion-effects-element-type-background),
	.elementor-929 .elementor-element.elementor-element-db93a25>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: fixed;
	}
}